<div id="<%= dom_id monster %>">
  <p>
    <strong><%= t('name') %>:</strong>
    <%= monster.monster_name %>
  </p>

  <p>
    <div class="row">
      <div class="col">
        <strong><%= t('str') %></strong>
        <%= monster.strength %> (<%= monster.strength_mod %>)
      </div>
      <div class="col">
        <strong><%= t('dex') %></strong>
        <%= monster.dexterity %> (<%= monster.dexterity_mod %>)
      </div>
      <div class="col">
        <strong><%= t('con') %></strong>
        <%= monster.constitution %> (<%= monster.constitution_mod %>)
      </div>
      <div class="col">
        <strong><%= t('int') %></strong>
        <%= monster.intelligence %> (<%= monster.intelligence_mod %>)
      </div>
      <div class="col">
        <strong><%= t('wis') %></strong>
        <%= monster.wisdom %> (<%= monster.wisdom_mod %>)
      </div>
      <div class="col">
        <strong><%= t('cha') %></strong>
        <%= monster.charisma %> (<%= monster.charisma_mod %>)
      </div>
    </div>
  </p>

  <p>
    <strong><%= t('challange_rating') %>:</strong>
    <%= monster.challange_rating %>
  </p>

  <p>
    <strong><%= t('ac') %>:</strong>
    <%= monster.ac %>
  </p>

  <p>
    <strong><%= t('hp') %>:</strong>
    <%= monster.hp %>
  </p>

  <p>
    <strong><%= t('experience') %>:</strong>
    <%= monster.xp.to_s +  ' ' + t('xp') %>
  </p>

  <p>
    <strong><%= t('size') %>:</strong>
    <%= t (monster.size) %>
  </p>

  <p>
    <strong><%= t('speed') %>:</strong>
    <%= monster.total_speed %>
  </p>

</div>
