<div id="<%= dom_id monster %>">
  <p>
    <strong><%= t 'creature.name' %>:</strong>
    <%= monster.monster_name %>
  </p>

  <p>
    <div class="row">
      <div class="col">
        <strong><%= t 'creature.str' %></strong>
        <%= monster.strength %> (<%= monster.strength_mod %>)
      </div>
      <div class="col">
        <strong><%= t 'creature.dex' %></strong>
        <%= monster.dexterity %> (<%= monster.dexterity_mod %>)
      </div>
      <div class="col">
        <strong><%= t 'creature.con' %></strong>
        <%= monster.constitution %> (<%= monster.constitution_mod %>)
      </div>
      <div class="col">
        <strong><%= t 'creature.int' %></strong>
        <%= monster.intelligence %> (<%= monster.intelligence_mod %>)
      </div>
      <div class="col">
        <strong><%= t 'creature.wis' %></strong>
        <%= monster.wisdom %> (<%= monster.wisdom_mod %>)
      </div>
      <div class="col">
        <strong><%= t 'creature.cha' %></strong>
        <%= monster.charisma %> (<%= monster.charisma_mod %>)
      </div>
    </div>
  </p>

  <p>
    <strong><%= t 'creature.challange_rating' %>:</strong>
    <%= monster.challange_rating %>
  </p>

  <p>
    <strong><%= t 'creature.ac' %>:</strong>
    <%= monster.ac %>
  </p>

  <p>
    <strong><%= t 'creature.hp' %>:</strong>
    <%= monster.hp %>
  </p>

  <p>
    <strong><%= t 'general.experience' %>:</strong>
    <%= monster.xp.to_s +  ' ' + t('general.xp') %>
  </p>

  <p>
    <strong><%= t 'creature.size' %>:</strong>
    <%= t ('general.' + monster.size) %>
  </p>

  <p>
    <strong><%= t 'creature.speed' %>:</strong>
    <%= monster.total_speed %>
  </p>

</div>
