<div id="<%= dom_id monster %>">
  <p>
    <strong>Name:</strong>
    <%= monster.name %>
  </p>

  <p>
    <strong>Challange rating:</strong>
    <%= monster.challange_rating %>
  </p>

  <p>
    <strong>Ac:</strong>
    <%= monster.ac %>
  </p>

  <p>
    <strong>Hp:</strong>
    <%= monster.hp %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= monster.size %>
  </p>

  <p>
    <strong>Speed:</strong>
    <%= monster.speed %>
  </p>

</div>
