<div id="<%= dom_id tavern %>">
  <p>
    <strong>Name:</strong>
    <%= tavern.name %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= tavern.kind %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tavern.description %>
  </p>

  <p>
    <strong>Roles:</strong>
    <%= tavern.roles %>
  </p>

</div>
