<%= stylesheet_link_tag "sheets", "data-turbo-track": "reload" %>
<%= form_with(model: sheet) do |form| %>
  <% if sheet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sheet.errors.count, "error") %> prohibited this sheet from being saved:</h2>

      <ul>
        <% sheet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col ">
      <%= form.label :name, I18n.translate('name').capitalize, style: "display: block" %>
      <%= form.text_field :name %>
    </div>
    <div class="col">
      <%= form.label :player_name, I18n.translate('player_name').capitalize, style: "display: block" %>
      <%= form.text_field :player_name %>
    </div>
    <div class="col">
      <%= form.label :background, I18n.translate('background.background').capitalize, style: "display: block" %>
      <%= easy_select('background', @backgrounds, 'sheet') %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form.label :alignment, I18n.translate('alignment.alignment').capitalize, style: "display: block" %>
      <%= easy_select('alignment', @alignments, 'sheet') %>
    </div>
    <div class="col">
      <%= form.label :race, I18n.translate('race.race').capitalize, style: "display: block" %>
      <%= easy_select('race', @races, 'sheet') %>
    </div>
    <div class="col">
      <%= form.label :initial_class, I18n.translate('class.class').capitalize, style: "display: block" %>
      <%= easy_select('initial_class', @initial_classes, 'sheet') %>
    </div>
  </div>

  <div class="row">
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col text-center">
              <strong><%= I18n.translate("abilities.ability").titleize %></strong>
            </div>
            <div class="col text-center">
              <strong><%= I18n.translate("abilities.value").titleize %></strong>
            </div>
            <div class="col text-center">
              <strong><%= I18n.translate("abilities.modifier").titleize %></strong>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= form.label :strength, I18n.translate('abilities.strength').capitalize, style: "display: block" %>
            </div>
            <div class="col">
              <%= form.number_field :strength, {value: 8, min: 3, max: 18, onchange: 'get_mod("strength")'} %>
            </div>
            <div class="col text-center" id="strength_mod">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= form.label :dexterity, I18n.translate('abilities.dexterity').capitalize, style: "display: block" %>
            </div>
            <div class="col">
              <%= form.number_field :dexterity, {value: 8, min: 3, max: 18, onchange: 'get_mod("dexterity")'} %>
            </div>
            <div class="col text-center" id="dexterity_mod">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= form.label :constitution, I18n.translate('abilities.constitution').capitalize, style: "display: block" %>
            </div>
            <div class="col">
              <%= form.number_field :constitution, {value: 8, min: 3, max: 18, onchange: 'get_mod("constitution")'} %>
            </div>
            <div class="col text-center" id="constitution_mod">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= form.label :intelligence, I18n.translate('abilities.intelligence').capitalize, style: "display: block" %>
            </div>
            <div class="col">
              <%= form.number_field :intelligence, {value: 8, min: 3, max: 18, onchange: 'get_mod("intelligence")'} %>
            </div>
            <div class="col text-center" id="intelligence_mod">
            </div>  
          </div>
          <div class="row">
            <div class="col">
              <%= form.label :wisdom, I18n.translate('abilities.wisdom').capitalize, style: "display: block" %>
            </div>
            <div class="col">
              <%= form.number_field :wisdom, {value: 8, min: 3, max: 18, onchange: 'get_mod("wisdom")'} %>
            </div>
            <div class="col text-center" id="wisdom_mod">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= form.label :charisma, I18n.translate('abilities.charisma').capitalize, style: "display: block" %>
            </div>
            <div class="col">
              <%= form.number_field :charisma, {value: 8, min: 3, max: 18, onchange: 'get_mod("charisma")'} %>
            </div>
            <div class="col text-center" id="charisma_mod">
            </div> 
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col">
          <%= I18n.translate('rules.abilities_rule_1').html_safe %>
        </div>
      </div>
      <div class="row">
        <div class="col" id="race_modifiers">
        </div>
      </div>
    </div>
  </div>

  <div>
    <%= form.label :hp, I18n.translate('hp').capitalize, style: "display: block" %>
    <%= form.number_field :hp %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<div id="translations">
  <div id="race_modifier_0">
    <strong><%= I18n.translate('abilities.modifiers').capitalize %>: </strong><%= I18n.translate('sheet.race_modifier.0') %>
  </div>
  <div id="race_modifier_1">
    <strong><%= I18n.translate('abilities.modifiers').capitalize %>: </strong><%= I18n.translate('sheet.race_modifier.1') %>
  </div>
  <div id="race_modifier_2">
    <strong><%= I18n.translate('abilities.modifiers').capitalize %>: </strong><%= I18n.translate('sheet.race_modifier.2') %>
  </div>
  <div id="race_modifier_3">
    <strong><%= I18n.translate('abilities.modifiers').capitalize %>: </strong><%= I18n.translate('sheet.race_modifier.3') %>
  </div>
  <div id="race_modifier_4">
    <strong><%= I18n.translate('abilities.modifiers').capitalize %>: </strong><%= I18n.translate('sheet.race_modifier.4') %>
  </div>
  <div id="race_modifier_5">
    <strong><%= I18n.translate('abilities.modifiers').capitalize %>: </strong><%= I18n.translate('sheet.race_modifier.5') %>
  </div>
  <div id="race_modifier_6">
    <strong><%= I18n.translate('abilities.modifiers').capitalize %>: </strong><%= I18n.translate('sheet.race_modifier.6') %>
  </div>
  <div id="race_modifier_7">
    <strong><%= I18n.translate('abilities.modifiers').capitalize %>: </strong><%= I18n.translate('sheet.race_modifier.7') %>
  </div>
  <div id="race_modifier_8">
    <strong><%= I18n.translate('abilities.modifiers').capitalize %>: </strong><%= I18n.translate('sheet.race_modifier.8') %>
  </div>
  <div id="race_modifier_9">
    <strong><%= I18n.translate('abilities.modifiers').capitalize %>: </strong><%= I18n.translate('sheet.race_modifier.9') %>
  </div>
  <div id="race_modifier_10">
    <strong><%= I18n.translate('abilities.modifiers').capitalize %>: </strong><%= I18n.translate('sheet.race_modifier.10') %>
  </div>
  <div id="race_modifier_11">
    <strong><%= I18n.translate('abilities.modifiers').capitalize %>: </strong><%= I18n.translate('sheet.race_modifier.11') %>
  </div>
  <div id="race_modifier_12">
    <strong><%= I18n.translate('abilities.modifiers').capitalize %>: </strong><%= I18n.translate('sheet.race_modifier.12') %>
  </div>
  <div id="race_modifier_13">
    <strong><%= I18n.translate('abilities.modifiers').capitalize %>: </strong><%= I18n.translate('sheet.race_modifier.13') %>
  </div>
  <div id="race_modifier_14">
    <strong><%= I18n.translate('abilities.modifiers').capitalize %>: </strong><%= I18n.translate('sheet.race_modifier.14') %>
  </div>
  <div id="race_modifier_15">
    <strong><%= I18n.translate('abilities.modifiers').capitalize %>: </strong><%= I18n.translate('sheet.race_modifier.15') %>
  </div>
  <div id="race_modifier_16">
    <strong><%= I18n.translate('abilities.modifiers').capitalize %>: </strong><%= I18n.translate('sheet.race_modifier.16') %>
  </div>
  <div id="race_modifier_17">
    <strong><%= I18n.translate('abilities.modifiers').capitalize %>: </strong><%= I18n.translate('sheet.race_modifier.17') %>
  </div>
  <div id="race_modifier_18">
    <strong><%= I18n.translate('abilities.modifiers').capitalize %>: </strong><%= I18n.translate('sheet.race_modifier.18') %>
  </div>
  <div id="race_modifier_19">
    <strong><%= I18n.translate('abilities.modifiers').capitalize %>: </strong><%= I18n.translate('sheet.race_modifier.19') %>
  </div>
  <div id="race_modifier_20">
    <strong><%= I18n.translate('abilities.modifiers').capitalize %>: </strong><%= I18n.translate('sheet.race_modifier.20') %>
  </div>
  <div id="race_modifier_21">
    <strong><%= I18n.translate('abilities.modifiers').capitalize %>: </strong><%= I18n.translate('sheet.race_modifier.21') %>
  </div>
  <div id="race_modifier_22">
    <strong><%= I18n.translate('abilities.modifiers').capitalize %>: </strong><%= I18n.translate('sheet.race_modifier.22') %>
  </div>
  <div id="race_modifier_23">
    <strong><%= I18n.translate('abilities.modifiers').capitalize %>: </strong><%= I18n.translate('sheet.race_modifier.23') %>
  </div>
</div>
<%= javascript_include_tag "sheets", "data-turbo-track": "reload", defer: true %>