<%= stylesheet_link_tag "sheets", "data-turbo-track": "reload" %>
<%= form_with(model: sheet) do |form| %>
  <% if sheet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sheet.errors.count, "error") %> prohibited this sheet from being saved:</h2>

      <ul>
        <% sheet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col ">
      <%= form.label :name, I18n.translate('name').capitalize, style: "display: block" %>
      <%= form.text_field :name %>
    </div>
    <div class="col">
      <%= form.label :player_name, I18n.translate('player_name').capitalize, style: "display: block" %>
      <%= form.text_field :player_name %>
    </div>
    <div class="col">
      <%= form.label :background, I18n.translate('background.background').capitalize, style: "display: block" %>
      <%= easy_select('background', @backgrounds, 'sheet') %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= form.label :alignment, I18n.translate('alignment.alignment').capitalize, style: "display: block" %>
      <%= easy_select('alignment', @alignments, 'sheet') %>
    </div>
    <div class="col">
      <%= form.label :race, I18n.translate('race.race').capitalize, style: "display: block" %>
      <%= easy_select('race', @races, 'sheet', {event_method: "onchange=\"update_race()\""}) %>
      
    </div>
    <div class="col">
      <%= form.label :initial_class, I18n.translate('class.class').capitalize, style: "display: block" %>
      <%= easy_select('initial_class', @initial_classes, 'sheet', {event_method: "onchange=\"update_class()\""}) %>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col text-center">
              <strong><%= I18n.translate("abilities.ability").titleize %></strong>
            </div>
            <div class="col text-center">
              <strong><%= I18n.translate("abilities.value").titleize %></strong>
            </div>
            <div class="col text-center">
              <strong><%= I18n.translate("abilities.modifier").titleize %></strong>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= form.label :strength, I18n.translate('abilities.strength').capitalize, style: "display: block" %>
            </div>
            <div class="col">
              <%= form.number_field :strength, {value: 8, min: 3, max: 18, onchange: 'get_mod("strength")'} %>
            </div>
            <div class="col text-center" id="strength_mod">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= form.label :dexterity, I18n.translate('abilities.dexterity').capitalize, style: "display: block" %>
            </div>
            <div class="col">
              <%= form.number_field :dexterity, {value: 8, min: 3, max: 18, onchange: 'get_mod("dexterity")'} %>
            </div>
            <div class="col text-center" id="dexterity_mod">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= form.label :constitution, I18n.translate('abilities.constitution').capitalize, style: "display: block" %>
            </div>
            <div class="col">
              <%= form.number_field :constitution, {value: 8, min: 3, max: 18, onchange: 'get_mod("constitution")'} %>
            </div>
            <div class="col text-center" id="constitution_mod">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= form.label :intelligence, I18n.translate('abilities.intelligence').capitalize, style: "display: block" %>
            </div>
            <div class="col">
              <%= form.number_field :intelligence, {value: 8, min: 3, max: 18, onchange: 'get_mod("intelligence")'} %>
            </div>
            <div class="col text-center" id="intelligence_mod">
            </div>  
          </div>
          <div class="row">
            <div class="col">
              <%= form.label :wisdom, I18n.translate('abilities.wisdom').capitalize, style: "display: block" %>
            </div>
            <div class="col">
              <%= form.number_field :wisdom, {value: 8, min: 3, max: 18, onchange: 'get_mod("wisdom")'} %>
            </div>
            <div class="col text-center" id="wisdom_mod">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= form.label :charisma, I18n.translate('abilities.charisma').capitalize, style: "display: block" %>
            </div>
            <div class="col">
              <%= form.number_field :charisma, {value: 8, min: 3, max: 18, onchange: 'get_mod("charisma")'} %>
            </div>
            <div class="col text-center" id="charisma_mod">
            </div> 
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col">
          <%= I18n.translate('rules.abilities_rule_1').html_safe %>
        </div>
      </div>
      <div class="row">
        <div class="col" id="race_modifiers">
        </div>
      </div>
      <div class="row">
        <div class="col" id="class_modifiers">
        </div>
      </div>
    </div>
  </div>

  <div>
    <%= form.label :hp, I18n.translate('hp').capitalize, style: "display: block" %>
    <%= form.number_field :hp %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<div id="translations">
  <div id="race_modifier_dragonborn_black">
    <strong><%= I18n.translate('race.racial_modifiers').titleize %>: </strong><%= I18n.translate('sheet.race_modifier.dragonborn_black') %>
  </div>
  <div id="race_modifier_dwarf_hill">
    <strong><%= I18n.translate('race.racial_modifiers').titleize %>: </strong><%= I18n.translate('sheet.race_modifier.dwarf_hill') %>
  </div>
  <div id="race_modifier_dwarf_mountain">
    <strong><%= I18n.translate('race.racial_modifiers').titleize %>: </strong><%= I18n.translate('sheet.race_modifier.dwarf_mountain') %>
  </div>
  <div id="race_modifier_elf_drow">
    <strong><%= I18n.translate('race.racial_modifiers').titleize %>: </strong><%= I18n.translate('sheet.race_modifier.elf_drow') %>
  </div>
  <div id="race_modifier_elf_high">
    <strong><%= I18n.translate('race.racial_modifiers').titleize %>: </strong><%= I18n.translate('sheet.race_modifier.elf_high') %>
  </div>
  <div id="race_modifier_elf_wood">
    <strong><%= I18n.translate('race.racial_modifiers').titleize %>: </strong><%= I18n.translate('sheet.race_modifier.elf_wood') %>
  </div>
  <div id="race_modifier_gnome_forest">
    <strong><%= I18n.translate('race.racial_modifiers').titleize %>: </strong><%= I18n.translate('sheet.race_modifier.gnome_forest') %>
  </div>
  <div id="race_modifier_gnome_rock">
    <strong><%= I18n.translate('race.racial_modifiers').titleize %>: </strong><%= I18n.translate('sheet.race_modifier.gnome_rock') %>
  </div>
  <div id="race_modifier_half_elf">
    <strong><%= I18n.translate('race.racial_modifiers').titleize %>: </strong><%= I18n.translate('sheet.race_modifier.half_elf') %>
  </div>
  <div id="race_modifier_half_orc">
    <strong><%= I18n.translate('race.racial_modifiers').titleize %>: </strong><%= I18n.translate('sheet.race_modifier.half_orc') %>
  </div>
  <div id="race_modifier_halfling_lightfoot">
    <strong><%= I18n.translate('race.racial_modifiers').titleize %>: </strong><%= I18n.translate('sheet.race_modifier.halfling_lightfoot') %>
  </div>
  <div id="race_modifier_halfling_stout">
    <strong><%= I18n.translate('race.racial_modifiers').titleize %>: </strong><%= I18n.translate('sheet.race_modifier.halfling_stout') %>
  </div>
  <div id="race_modifier_human">
    <strong><%= I18n.translate('race.racial_modifiers').titleize %>: </strong><%= I18n.translate('sheet.race_modifier.human') %>
  </div>
  <div id="race_modifier_human_variant">
    <strong><%= I18n.translate('race.racial_modifiers').titleize %>: </strong><%= I18n.translate('sheet.race_modifier.human_variant') %>
  </div>
  <div id="race_modifier_tiefling">
    <strong><%= I18n.translate('race.racial_modifiers').titleize %>: </strong><%= I18n.translate('sheet.race_modifier.tiefling') %>
  </div>
  <div id="race_modifier_dragonborn_blue">
    <strong><%= I18n.translate('race.racial_modifiers').titleize %>: </strong><%= I18n.translate('sheet.race_modifier.dragonborn_blue') %>
  </div>
  <div id="race_modifier_dragonborn_brass">
    <strong><%= I18n.translate('race.racial_modifiers').titleize %>: </strong><%= I18n.translate('sheet.race_modifier.dragonborn_brass') %>
  </div>
  <div id="race_modifier_dragonborn_bronze">
    <strong><%= I18n.translate('race.racial_modifiers').titleize %>: </strong><%= I18n.translate('sheet.race_modifier.dragonborn_bronze') %>
  </div>
  <div id="race_modifier_dragonborn_copper">
    <strong><%= I18n.translate('race.racial_modifiers').titleize %>: </strong><%= I18n.translate('sheet.race_modifier.dragonborn_copper') %>
  </div>
  <div id="race_modifier_dragonborn_gold">
    <strong><%= I18n.translate('race.racial_modifiers').titleize %>: </strong><%= I18n.translate('sheet.race_modifier.dragonborn_gold') %>
  </div>
  <div id="race_modifier_dragonborn_green">
    <strong><%= I18n.translate('race.racial_modifiers').titleize %>: </strong><%= I18n.translate('sheet.race_modifier.dragonborn_green') %>
  </div>
  <div id="race_modifier_dragonborn_red">
    <strong><%= I18n.translate('race.racial_modifiers').titleize %>: </strong><%= I18n.translate('sheet.race_modifier.dragonborn_red') %>
  </div>
  <div id="race_modifier_dragonborn_silver">
    <strong><%= I18n.translate('race.racial_modifiers').titleize %>: </strong><%= I18n.translate('sheet.race_modifier.dragonborn_silver') %>
  </div>
  <div id="race_modifier_dragonborn_white">
    <strong><%= I18n.translate('race.racial_modifiers').titleize %>: </strong><%= I18n.translate('sheet.race_modifier.dragonborn_white') %>
  </div>
  <div id="hit_die">
    <strong><%= I18n.translate('hit_die').titleize %>: </strong>
  </div>
</div>
<%= javascript_include_tag "sheets", "data-turbo-track": "reload", defer: true %>