<div id="<%= dom_id sheet %>">
  <p>
    <strong><%= I18n.translate('name').titleize %></strong>
    <%= sheet.name %>
  </p>

  <p>
    <strong>Player name:</strong>
    <%= sheet.player_name %>
  </p>

  <p>
    <strong>Alignment:</strong>
    <%= sheet.alignment %>
  </p>

  <p>
    <strong>Background:</strong>
    <%= sheet.background %>
  </p>

  <p>
    <strong>Race:</strong>
    <%= sheet.race %>
  </p>

  <p>
    <strong>Experience:</strong>
    <%= sheet.experience %>
  </p>

  <p>
    <strong>Strength:</strong>
    <%= sheet.strength %>
  </p>

  <p>
    <strong>Dexterity:</strong>
    <%= sheet.dexterity %>
  </p>

  <p>
    <strong>Constitution:</strong>
    <%= sheet.constitution %>
  </p>

  <p>
    <strong>Wisdom:</strong>
    <%= sheet.wisdom %>
  </p>

  <p>
    <strong>Intelligence:</strong>
    <%= sheet.intelligence %>
  </p>

  <p>
    <strong>Charisma:</strong>
    <%= sheet.charisma %>
  </p>

  <p>
    <strong>Hp:</strong>
    <%= sheet.hp %>
  </p>

  <p>
    <strong>Temp hp:</strong>
    <%= sheet.temp_hp %>
  </p>

</div>
