<div id="<%= dom_id sheet %>">
  <div class="row">
    <div class="col ">
      <strong><%= I18n.translate('name').capitalize %>: </strong>
      <%= sheet.name&.titleize %>
    </div>
    <div class="col">
      <strong><%= I18n.translate('player_name').capitalize %>: </strong>
      <%=  sheet.player_name&.titleize %>
    </div>
    <div class="col">
      <strong><%= I18n.translate('background.background').capitalize %>: </strong>
      <%= sheet.background&.titleize %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <strong><%= I18n.translate('alignment.alignment').capitalize %>: </strong>
      <%= I18n.translate("alignment.#{sheet.alignment}")&.titleize %>
    </div>
    <div class="col">
      <strong><%= I18n.translate('race.race').capitalize %></strong>
      <%= I18n.translate("race.#{sheet.race}")&.titleize %>
    </div>
    <div class="col">
      <strong><%= I18n.translate('class.class').capitalize %></strong>
      <%= sheet&.initial_class %>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col text-center">
              <strong><%= I18n.translate("abilities.ability").titleize %></strong>
            </div>
            <div class="col text-center">
              <strong><%= I18n.translate("abilities.value").titleize %></strong>
            </div>
            <div class="col text-center">
              <strong><%= I18n.translate("abilities.modifier").titleize %></strong>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <%= I18n.translate('abilities.strength').capitalize %>
            </div>
            <div class="col text-center">
              <%= sheet.strength %>
            </div>
            <div class="col text-center">
              <%= sheet.modifier(sheet.strength) %>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <%= I18n.translate('abilities.dexterity').capitalize %>
            </div>
            <div class="col text-center">
              <%= sheet.dexterity %>
            </div>
            <div class="col text-center">
              <%= sheet.modifier(sheet.dexterity) %>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <%= I18n.translate('abilities.constitution').capitalize %>
            </div>
            <div class="col text-center">
              <%= sheet.constitution %>
            </div>
            <div class="col text-center">
              <%= sheet.modifier(sheet.constitution) %>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <%= I18n.translate('abilities.intelligence').capitalize %>
            </div>
            <div class="col text-center">
              <%= sheet.intelligence %>
            </div>
            <div class="col text-center">
              <%= sheet.modifier(sheet.intelligence) %>
            </div>  
          </div>
          <div class="row">
            <div class="col text-center">
              <%= I18n.translate('abilities.wisdom').capitalize %>
            </div>
            <div class="col text-center">
              <%= sheet.wisdom %>
            </div>
            <div class="col text-center">
              <%= sheet.modifier(sheet.wisdom) %>
            </div>
          </div>
          <div class="row">
            <div class="col text-center">
              <%= I18n.translate('abilities.charisma').capitalize %>
            </div>
            <div class="col text-center">
              <%= sheet.charisma %>
            </div>
            <div class="col text-center">
              <%= sheet.modifier(sheet.charisma) %>
            </div> 
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col">
          <%= I18n.translate('rules.abilities_rule_1').html_safe %>
        </div>
      </div>
      <div class="row">
        <div class="col" id="race_modifiers">
        </div>
      </div>
      <div class="row">
        <div class="col" id="class_modifiers">
        </div>
      </div>
    </div>
  </div>

  <div>
    <strong><%= I18n.translate('hp').capitalize %>: </strong>
    <%= sheet.hp %>
  </div>
</div>
