<div id="<%= dom_id weapon %>">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">
        <div class="row">
          <div class="col">
            <span class="badge badge-primary">
              <b><%= t(weapon.name) %></b>
            </span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span class="small"><%= t(weapon.kind) %></span>
          </div>
        </div>
        </h5>
      <p class="card-text">
        <div class="row">
          <div class="col">
            <div class="row">
              <strong><%= t('damage') %>: </strong>
              <%= weapon.dmg %>
            </div>
            <div class="row">
              <strong><%= t('price') %>:</strong>
              <%= price_converter(weapon.price) %>
            </div>
          </div>
          <div class="col">
            <div class="row">
              <strong><%= t('weight') %>: </strong>
              <%= weapon.item_weight %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row">
              <%= t('description') + ":" %>
            </div>
            <div class="row">
              <%= weapon.description %>
            </div>
            <% if weapon.proprieties.any? %>
              <div class="row">
                <%= t('propriety'.pluralize(weapon.proprieties.count)) %>
              </div>
              <% weapon.proprieties.order(:name).each do |p| %>
                <div class="row">
                  <b><%= t('proprieties_key.' + p.name) + ': ' %></b>
                  <%= t('proprieties_key.' + p.description) %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
</div>
