<div id="<%= dom_id weapon %>">
  <p>
    <strong>Name:</strong>
    <%= weapon.name %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= weapon.kind %>
  </p>

  <p>
    <strong>Melee or ranged:</strong>
    <%= weapon.melee_or_ranged %>
  </p>

  <p>
    <strong>One handed:</strong>
    <%= weapon.one_handed %>
  </p>

  <p>
    <strong>Dmg:</strong>
    <%= weapon.dmg %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= weapon.cost %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= weapon.weight %>
  </p>

</div>
