<div id="<%= dom_id weapon %>">
  <p>
    <strong>Name:</strong>
    <%= weapon.name %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= weapon.kind %>
  </p>

  <p>
    <strong>Dmg:</strong>
    <%= weapon.dmg %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= weapon.price %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= weapon.weight %>
  </p>

</div>
