<div id="<%= dom_id combat_equipment %>">
  <p>
    <strong>Name:</strong>
    <%= combat_equipment.name %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= combat_equipment.kind %>
  </p>

  <p>
    <strong>Ac:</strong>
    <%= combat_equipment.ac %>
  </p>

  <p>
    <strong>Dmg:</strong>
    <%= combat_equipment.dmg %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= combat_equipment.weight %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= combat_equipment.price %>
  </p>

</div>
