<%= form_with(model: combat_equipment) do |form| %>
  <% if combat_equipment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(combat_equipment.errors.count, "error") %> prohibited this combat_equipment from being saved:</h2>

      <ul>
        <% combat_equipment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :kind, style: "display: block" %>
    <%= form.text_field :kind %>
  </div>

  <div>
    <%= form.label :ac, style: "display: block" %>
    <%= form.text_field :ac %>
  </div>

  <div>
    <%= form.label :dmg, style: "display: block" %>
    <%= form.text_field :dmg %>
  </div>

  <div>
    <%= form.label :weight, style: "display: block" %>
    <%= form.text_field :weight %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
