<div id="<%= dom_id armor %>">
  <p>
    <strong><%= t('name') %>:</strong>
    <%= t(armor.name) %>
  </p>

  <p>
    <strong><%= t('kind') %>:</strong>
    <%= t(armor.kind) %>
  </p>

  <p>
    <strong><%= t('ac') %>:</strong>
    <%= armor.ac %>
  </p>

  <p>
    <strong><%= t('weight') %>:</strong>
    <%= armor.item_weight %>
  </p>

  <p>
    <strong><%= t('price') %>:</strong>
    <%= price_converter(armor.price) %>
  </p>

  <p>
    <strong><%= t('description') %>:</strong>
    <%= armor.description %>
  </p>

</div>
