<div id="<%= dom_id armor %>">
  <p>
    <strong>Name:</strong>
    <%= armor.name %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= armor.kind %>
  </p>

  <p>
    <strong>Ac:</strong>
    <%= armor.ac %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= armor.weight %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= armor.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= armor.description %>
  </p>

</div>
